<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>My Acount</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel style=" "  value="#{data.es}"> </h:outputLabel> 
        <h1>#{data.es}</h1>
        
        <h:graphicImage library="images" name="avatar.jpg" 
                            alt="photo"/>
        <img src="./avatar.jpg"/>
        </h:form>
    </h:body>
</html>

