<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Registration Form</title>
    </h:head>
    <h:body>

        <h:form id="form"  style="margin-left: 25%;width: 50%;border: 2px solid #000;padding: 15px;margin-top: 5%">

            <p:growl id="msgs" showDetail="true" />
            <center>  <h1>Registration Form</h1></center>
            <br></br>
            <br></br>
            <table>
                <tr>
                    <td>
                        <h:outputLabel style=" " for="f_name">First name: </h:outputLabel>
                        <p:inputText style="width: 50%;border: 2px solid #000;padding:5px 20px" id="f_name" required="true" label="f_name" 
                                     requiredMessage="Please enter your first name."
                                     validatorMessage="Invalid name format"
                                     binding="#{input1}">

                            <f:validateRegex
                                pattern="^[_A-Za-z]+$" />

                        </p:inputText>
                        <p:watermark for="f_name" value="" />
                        <p:message for="f_name" />
                    </td>
                    <td>
                        <h:outputLabel for="l_name">Last name: </h:outputLabel>
                        <p:inputText style="width: 50%;border: 2px solid #000;padding:5px 20px" id="l_name" required="true" label="l_name" 
                                     requiredMessage="Please enter your last name."
                                     validatorMessage="Invalid name format"
                                     binding="#{input2}">

                            <f:validateRegex
                                pattern="^[_A-Za-z]+$" />

                        </p:inputText>
                        <p:watermark for="l_name" value="" />
                        <p:message for="l_name" />          
                    </td>
                </tr>
            </table>
            <br></br>
            <br></br>
            <table>
                <tr>
                    <td>
                        <h:outputLabel for="birth">Birthdate: </h:outputLabel>
                        
                        <p:calendar id="birth" required="true" effect="fold" binding="#{input3}" value="#{data.birth}" >
                           
                        </p:calendar>
                      
                    
                    </td>
                    <td>
                        <h:outputLabel for="coun">Country: </h:outputLabel>

                        <h:selectOneMenu id="coun" required="true" binding="#{input4}">
                            <f:selectItem itemValue="Egypt" itemLabel="Egypt" />
                            <f:selectItem itemValue="America" itemLabel="America" />
                            <f:selectItem itemValue="France" itemLabel="France" />
                        </h:selectOneMenu>
                    </td>
                </tr>
            </table>
            <br></br>
            <br></br>




            <table>
                <tr>
                    <h:outputLabel for="email" >Email: </h:outputLabel>
                    <p:inputText style="margin-left: 30px;width: 31%" id="email" required="true" label="email" 
                                 requiredMessage="Please enter your email address."
                                 validatorMessage="Invalid email format"
                                 binding="#{input5}">

                        <f:validateRegex
                            pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                    </p:inputText>
                    <p:watermark for="email" value="" />
                    <p:message for="email" />
                </tr>
            </table>
            <br></br>
            <br></br>
            <table>
                <tr>
                    <h:outputLabel for="photo">Personal Photo: </h:outputLabel>

                    <p:fileUpload id="photo" required="true" binding="#{input6}" mode="simple"
                                  allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>

                </tr>
            </table>
             
            <br></br>
            <br></br>

            <table>
                <tr>

                    <h:outputLabel for="user">Username: </h:outputLabel>
               <p:inputText style="width: 25%;border: 2px solid #000;padding:5px 20px" id="user" required="true" label="user" 
                                     requiredMessage="Please enter your user name."
                                     validatorMessage="Invalid name format"
                                     binding="#{input7}">

                            <f:validateRegex
                                pattern="^[_A-Za-z]+$" />

                        </p:inputText>
                        <p:watermark for="user" value="" />
                        <p:message for="user" />          

                </tr>
            </table>
            <br></br>
            <br></br>


            <table>
                <tr>
                    <td>
                        <h:outputLabel for="pass">Password: </h:outputLabel>
                     <p:inputText type="password" style="width:50%;border: 2px solid #000;padding:5px 20px" id="pass" required="true" label="pass" 
                                     requiredMessage="password is mandatory." binding="#{input8}"/>
                    </td>

                    <td>
                        <h:outputLabel  for="verify">Verify Password: </h:outputLabel>
                    <p:inputText type="password" style="width:50%;border: 2px solid #000;padding:5px 20px" id="verify" required="true" label="verify" 
                                     requiredMessage="password is mandatory."/>
                    </td>
                </tr>
            </table>
            <br></br>
            <br></br>
            <table>
                <tr>
                    <h:commandButton style="cursor: pointer;margin-left: 80px;border: 2px solid #000;padding:15px 45px;font-size: 25px; background-color: #00f;color: #FFF" value="SAVE"  action="#{data.addMember(input7.value,input8.value,input3.value,input4.value,input5.value,input1.value,input2.value,input6.value)}"/>

                </tr>
            </table>
            

        </h:form>
    </h:body>
</html>
