<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login Form</title>
    </h:head>
    <h:body>
        <h:form id="form"  style="margin-left: 25%;width: 50%;border: 2px solid #000;padding: 15px;margin-top: 5%">

             <h1>Login</h1>
            <br></br>
            <br></br>
            <table>
                <tr>
                  
                        <h:outputLabel style=" " for="user">User Name: </h:outputLabel>
                        <p:inputText style="width: 50%;border: 2px solid #000;padding:5px 20px" id="user" required="true" label="user" 
                                     requiredMessage="Please enter your user name." binding="#{input1}"></p:inputText>
                                     

                </tr>
            </table>
            <br></br>
            <br></br>
            <table>
                <tr>
                  
                        <h:outputLabel style=" " for="pass">Password: </h:outputLabel>
                        <p:inputText type="password" style="width: 50%;border: 2px solid #000;padding:5px 20px" id="Pass" required="true" label="Pass" 
                                     requiredMessage="Please enter your password." binding="#{input2}"></p:inputText>
                                     

                </tr>
            </table>
            <br></br>
            <br></br>
            <table>
                <tr>
                    <h:commandButton style="cursor: pointer;margin-left: 80px;border: 2px solid #000;padding:15px 45px;font-size: 25px; background-color: #00f;color: #FFF" value="Login"  action="#{data.display(input1.value,input2.value)}"/>

                </tr>
            </table>
            

        </h:form>
    </h:body>
</html>

