<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Verification Form</title>
    </h:head>
    <h:body>
         <h:form id="form"  style="margin-left: 25%;width: 50%;border: 2px solid #000;padding: 15px;margin-top: 5%">

             <h1>Enter The Activation Code</h1>
            <br></br>
            <br></br>
            <table>
                <tr>
                  
                        <h:outputLabel style=" " for="active">Activation Code: </h:outputLabel>
                        <p:inputText style="width: 50%;border: 2px solid #000;padding:5px 20px" id="active" required="true" label="active" 
                                     requiredMessage="Please enter your activation code."></p:inputText>
                                     

                </tr>
            </table>
            <br></br>
            <br></br>
            <table>
                <tr>
                    <h:commandButton style="cursor: pointer;margin-left: 80px;border: 2px solid #000;padding:15px 45px;font-size: 25px; background-color: #00f;color: #FFF" value="ok"  action="#{data.action()}"/>

                </tr>
            </table>
            

        </h:form>
    </h:body>
</html>

